<!DOCTYPE html>
<html lang="de">

<head>

	{% include html/head.html %}

	<style>
		{% include css/main.css %}
	</style>

</head>

<body>
	<nav>
		<div class="nav-group">
			<a href="/" class="brand-icon">TSN</a>
			<form class="form-inline">
	    		<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	    		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  		</form>
  		</div>
		<div class="nav-group">
			<img src="assets/profile.svg" alt="profile">
			<div class="profile">Erika</div>
			<img src="assets/friends.svg" alt="friends">
			<img src="assets/chat.svg" alt="chat">
			<img src="assets/notifications.svg" alt="notifications">
		</div>
	</nav>
	<main>
		{{content}}
	</main>
</body>

</html>